<table class="table table-bordered bg-white mat-elevation-z7 ">
    <tr>
      <td>
        <div class="p-1" style="text-align: center">
          <h3>Ölüm Vakaları</h3>
          <h2>{{deathSum}}</h2>
        </div>

      </td>
      <td>
        <div class="p-1" style="text-align: center">
          <h3>Aktif Vakalar</h3>
          <h2>{{onCase}}</h2>
        </div>
      </td>
      <td>
        <div class="p-1" style="text-align: center">
          <h3>Tedavi Edilen Vakalar</h3>
          <h2>{{recoverSum}}</h2>
        </div>
      </td>
      <td>
        <div class="p-1" style="text-align: center">
          <h3>Toplam Vaka Sayısı</h3>
          <h2>{{caseSum}}</h2>
        </div>
      </td>
    </tr>
  </table>

